{% extends "base.html" %} 

{% block content %}

<header class="bg-gray-600 text-white p-4">
    <section class="mb-6">
        <h2 class="text-xl mb-2">About</h2>
        <p>This application displays the complications and deaths in New York hospitals as reported by CMS.</p>
    
    </section>

    <section>
        <h2 class="text-xl mb-2">Features</h2>
        <ul class="list-disc pl-5">
            <li>Comparisons between hospitals by city </li>
            <li>Comparisons to the National Rate</li>

        </ul>
   
    </section>
 

{% endblock %}


   